<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        GitHub: <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}" rel="nofollow">{{ site.github_username }}</a><br/>
        Contact: <a class="u-email" href="mailto:{{ site.email }}">{{ site.author | escape }}</a><br/>
        {{- site.description -}}<br/>
      </div>
    </div>
  </div>
</footer>
