<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <!-- {{- site.description -}} -->
        <a href="https://github.com/Klangstrom">Klangstrom</a> is an open project initiated by <a class="u-email" href="mailto:{{ site.email }}">{{ site.author | escape }}</a> and Jacob Remin. <em>Klangstrom</em> is generously funded by <a href="https://hfk-bremen.de/">Hochschule f&uuml;r K&uuml;nste Bremen.</a><br/>
<!--         GitHub: <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}" rel="nofollow">{{ site.github_username }}</a><br/> -->
<!--         Contact: <a class="u-email" href="mailto:{{ site.email }}">{{ site.author | escape }}</a><br/> -->
      </div>
    </div>
  </div>
</footer>
